<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <button id="edit" class="btn btn-info btn-rounded" onclick="edit()" type="button">Edit</button>
        <button id="edit" class="btn btn-success btn-rounded" onclick="save()" type="button">save</button>
        <button id="save" class="btn btn-success btn-rounded" (click)="save()" type="button">Save</button>
        <br><br>
        <div class="click2edit m-b-40 summernote" [(ngModel)]="descripcion" >Click on Edite button and change the text then save it.</div>
        <textarea type="text" [(ngModel)]="descripcion" style="width:100%;"></textarea>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->