<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <button id="edit" class="btn btn-info btn-rounded" onclick="edit()" type="button">Edit</button>
        <button id="save" class="btn btn-success btn-rounded" onclick="save()" type="button">Save</button>
        <br><br>
        <div class="click2edit m-b-40 summernote">Click on Edite button and change the text then save it.</div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->