body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.enfoque{
	background-color: #745234 !important;
  background-image: url('../images/fondo.jpg');
  background-position: center; 
	background-repeat: no-repeat;
  color:white;
}